.space-pie-chart-section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.pie-chart {
	width: 100%;
	display: block;
	.total-used-title {
		text-align: center;
		font-weight: 200;
		font-size: 28px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.total-used-pecentage-val {
		text-align: center;
		font-weight: 400;
		font-size: 48px;
		margin-top: 10px;
	}
}
