<div class="responsive-paddings">
	<h2>
		{{supplier.id == 0 ? 'Add' : 'Update' }} Supplier
		<dx-button (onClick)="backToSuppliers()" class="btn-back" type="back">
		</dx-button>
	</h2>

	<div class="dx-card responsive-paddings">

		<form (submit)="handleSubmit($event)">
			<dx-form [(formData)]="supplier" [colCount]="2" id="form" labelLocation="top">
				<dxi-item [isRequired]="true" dataField="code"></dxi-item>
				<dxi-item [isRequired]="true" dataField="supplierName"></dxi-item>
				<dxi-item>
					<dxo-label text="Is Active"></dxo-label>
					<dx-check-box [(value)]="supplier.active">
					</dx-check-box>
				</dxi-item>
				<dxi-item dataField="businessRegistrationId"></dxi-item>
				<dxi-item dataField="vatNumber"></dxi-item>

				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>
				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>
				<dxi-item caption="Contact information" itemType="group">
					<dxi-item itemType="tabbed">
						<dxo-tab-panel-options>
						</dxo-tab-panel-options>
						<dxi-tab [colCount]="2" title="Contact">
							<dxi-item [colSpan]="2" dataField="contact.contactPerson">
								<dxo-label text="Contact Person"></dxo-label>
							</dxi-item>
							<dxi-item [isRequired]="true" dataField="contact.phone">
								<dxo-label text="Phone"></dxo-label>
							</dxi-item>
							<dxi-item dataField="contact.mobile">
								<dxo-label text="Mobile"></dxo-label>
							</dxi-item>
							<dxi-item [colSpan]="2" dataField="contact.email">
								<dxo-label text="Email"></dxo-label>
							</dxi-item>
						</dxi-tab>
						<dxi-tab [colCount]="2" title="Address">
							<dxi-item dataField="address.firstName">
								<dxo-label text="First Name"></dxo-label>
							</dxi-item>
							<dxi-item dataField="address.lastName">
								<dxo-label text="Last Name"></dxo-label>
							</dxi-item>
							<dxi-item [isRequired]="true" dataField="address.addressLine1">
								<dxo-label text="Address Line 1"></dxo-label>
							</dxi-item>
							<dxi-item dataField="address.addressLine2">
								<dxo-label text="Address Line 2"></dxo-label>
							</dxi-item>

							<dxi-item *ngIf="supplier && supplier.address">
								<dxo-label text="City"></dxo-label>
								<dx-select-box [(value)]="supplier.address.cityId" [dataSource]="cityStore"
											   [minSearchLength]="0" [searchEnabled]="true" [searchExpr]="'cityName'"
											   [searchMode]="'contains'" [searchTimeout]="200" displayExpr="cityName"
											   valueExpr="id"></dx-select-box>
							</dxi-item>

							<dxi-item [isRequired]="true" dataField="address.postalCode">
								<dxo-label text="Postal Code"></dxo-label>
							</dxi-item>
						</dxi-tab>
					</dxi-item>
				</dxi-item>

				<dxi-item caption="Supplier Charges" itemType="group">
					<dxi-item dataField="supplierCharges.allocatedUnits" editorType="dxNumberBox">
						<dxo-label text="Allocated Units"></dxo-label>
					</dxi-item>
					<dxi-item dataField="supplierCharges.storageChargePerUnit" editorType="dxNumberBox">
						<dxo-label text="Storage Charge Per Unit"></dxo-label>
					</dxi-item>
					<dxi-item dataField="supplierCharges.additionalChargePerUnitPrice" editorType="dxNumberBox">
						<dxo-label text="Additional Charge Per Unit Price"></dxo-label>
					</dxi-item>
					<dxi-item dataField="supplierCharges.handlingCharge" editorType="dxNumberBox">
						<dxo-label text="Handling Charge"></dxo-label>
					</dxi-item>
				</dxi-item>

				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>

				<dxi-item>
					<dxo-label text="Invoice Policy"></dxo-label>
					<dx-text-area [(value)]="supplier.invoicePolicy" [height]="90">
					</dx-text-area>
				</dxi-item>
				<dxi-item>
					<dxo-label text="Return Policy"></dxo-label>
					<dx-text-area [(value)]="supplier.returnPolicy" [height]="90">
					</dx-text-area>
				</dxi-item>

				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>
				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>

				<dxi-item *ngIf="supplier && supplier.pickupAddress" [colSpan]="2"
						  cssClass="pickup-list-address-container dx-card responsive-paddings" itemType="group">
					<h3>Pickup Addresses
						<dx-button (onClick)="addPickupAddress()" class="btn-back" text="Add">
						</dx-button>
					</h3>
					<hr/>

					<dx-list (onItemClick)="updatePickupAddress($event)" [allowItemDeleting]="true" [dataSource]="supplier.pickupAddress"
							 id="list">
						<div *dxTemplate="let item of 'item'">
							<div>
								<div>{{getPickupAddressDisplayStrinng(item)}}</div>
							</div>
						</div>
					</dx-list>
				</dxi-item>

				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>
				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>

				<dxi-item [buttonOptions]="{ text:'Save Changes', useSubmitBehavior: true, icon: 'save', type:'success'}" [colSpan]="2" cssClass="btn-save-supplier"
						  itemType="button">
				</dxi-item>

			</dx-form>
		</form>

	</div>
</div>

<supplier-pickup-address-modal
	(response)="supplierPickupAddressModelResponse($event)"
	[pickupAddress]="currentSupplierPickupAddress"
	[visible]="displayPickupAddressModal">
</supplier-pickup-address-modal>
