<div class="responsive-paddings">

	<h2 class="page-header"><i class="dx-icon-cart"></i>
		Purchase Orders
		<dx-button (click)="openPurchaseOrder(0)" class="btn-new-purchase-order" icon="add" text="New Purchase Order"
				   type="normal">
		</dx-button>
	</h2>

	<dx-data-grid (onRowClick)="openPurchaseOrder($event.data.id)" [columnAutoWidth]="true"
				  [columnHidingEnabled]="true"
				  [dataSource]="purchaseOrderDataSource" [focusedRowEnabled]="true"
				  [focusedRowIndex]="0" [remoteOperations]="true" [showBorders]="true"
				  class="dx-card wide-card" keyExpr="id">

		<dxo-paging [pageSize]="10"></dxo-paging>
		<dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
		<dxo-filter-row [visible]="true"></dxo-filter-row>
		<dxi-column caption="PO Number" dataField="poNumber">
		</dxi-column>
		<dxi-column caption="Supplier" dataField="supplierId">
			<dxo-lookup
				[dataSource]="supplierDataSource"
				displayExpr="supplierName"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column caption="Note" dataField="note">
		</dxi-column>
		<dxi-column caption="Warehouse" dataField="wareHouseId">
			<dxo-lookup
				[dataSource]="warehouseDataSource"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>

	</dx-data-grid>
</div>

