<div class="responsive-paddings">

	<h2 class="page-header"><i class="dx-icon-airplane"></i>
		Good Received Notes
		<dx-button (click)="openGrn(0)" class="btn-new-grn" icon="add" text="New GRN" type="normal">
		</dx-button>
	</h2>

	<dx-data-grid (onRowClick)="openGrn($event.data.id)" [columnAutoWidth]="true"
				  [columnHidingEnabled]="true"
				  [dataSource]="grnDataSource" [focusedRowEnabled]="true"
				  [focusedRowIndex]="0" [remoteOperations]="true" [showBorders]="true"
				  class="dx-card wide-card" keyExpr="id">

		<dxo-paging [pageSize]="10"></dxo-paging>
		<dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
		<dxo-filter-row [visible]="true"></dxo-filter-row>
		<dxi-column caption="GRN Number" dataField="grnNo">
		</dxi-column>
		<dxi-column caption="Type" dataField="type">
			<dxo-lookup
				[dataSource]="metaData.grnTypes"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column caption="Purchase Order" dataField="purchaseOrderId">
			<dxo-lookup
				[dataSource]="purchaseOrderDataSource"
				displayExpr="poNumber"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column caption="Supplier" dataField="supplierId">
			<dxo-lookup
				[dataSource]="supplierDataSource"
				displayExpr="supplierName"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column caption="Warehouse" dataField="wareHouseId">
			<dxo-lookup
				[dataSource]="warehouseDataSource"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>

	</dx-data-grid>
</div>


