<div class="responsive-paddings">

	<h2 class="page-header"><i class="dx-icon-box"></i>
		{{product.id == 0 ? 'Add' : 'Update' }} Product
		<dx-button (onClick)="backToList()" class="btn-back" type="back">
		</dx-button>
	</h2>

	<div>
		<form (submit)="handleSubmit($event)">
			<dx-form [colCount]="4" [formData]="product" id="form" labelLocation="top">
				<dxi-item [colSpan]="2" [isRequired]="true" dataField="code"></dxi-item>
				<dxi-item [colSpan]="2" [editorOptions]="{ dataSource: supplierStore, displayExpr: 'supplierName', valueExpr: 'id', searchEnabled: true, searchExpr: ['code', 'supplierName'],
					  fieldTemplate: 'supplierField', itemTemplate: 'supplierField'  }"
						  [isRequired]="true"
						  [label]="{ text: 'Supplier' }" dataField="supplierId" editorType="dxLookup">
				</dxi-item>
				<dxi-item [colSpan]="2" [editorOptions]="{ dataSource: metadata.storeTypes, displayExpr: 'name', valueExpr: 'id' }"
						  [isRequired]="true"
						  [label]="{ text: 'Storing Type' }" dataField="storingType" editorType="dxSelectBox">
				</dxi-item>
				<dxi-item [colSpan]="2" [isRequired]="true" dataField="name"></dxi-item>
				<dxi-item [colSpan]="2" [editorOptions]="{ height: 120 }" dataField="description"
						  itemType="dxTextArea"></dxi-item>
				<dxi-item [colSpan]="4" dataField="active" editorType="dxCheckBox"></dxi-item>

				<dxi-item [colSpan]="4" itemType="empty"></dxi-item>
				<dxi-item [colSpan]="4" itemType="empty"></dxi-item>

				<dxi-item [colSpan]="2" caption="Inventory" itemType="group">
					<dxi-item [isRequired]="true" dataField="sku"></dxi-item>
					<dxi-item dataField="unitPrice"></dxi-item>
					<dxi-item [isRequired]="true" dataField="reorderLevel"></dxi-item>
				</dxi-item>

				<dxi-item [colSpan]="2" caption="Storage" itemType="group">
					<dxi-item [isRequired]="true" dataField="storageUnits"></dxi-item>
					<dxi-item [editorOptions]="{ items: metadata.massUnits, displayExpr: 'name', valueExpr: 'id' }" dataField="massUnit"
							  editorType="dxSelectBox"></dxi-item>
					<dxi-item dataField="weight"></dxi-item>
				</dxi-item>

				<dxi-item [buttonOptions]="{ text: 'Save Changes',useSubmitBehavior: true, icon: 'save', type: 'success',class: 'btn-save-product' }" [colSpan]="4" class="btn-save-product"
						  itemType="button">
				</dxi-item>

				<div *dxTemplate="let item of 'supplierField'">
					<div>{{item?.code}} - {{item?.supplierName}}</div>
				</div>

			</dx-form>
		</form>
	</div>

</div>
