.actions-wrapper{
	text-align: center;
}

.action-button {
	margin-left: 2px;
	margin-right: 2px;
}

.popup-message {
	font-size: 16px;
	font-weight: 400;
	align-content: center;
	color: #7a7a7a;
}

.save-manual-invoice-item-button {
	float: right;
}

.float-left {
	float: left;
}

