<div class="responsive-paddings">
	<h2>Products
		<dx-button (onClick)="openProduct(0)" class="btn-new-product" icon="add" text="New Product" type="normal">
		</dx-button>
	</h2>

	<dx-data-grid (onRowClick)="openProduct($event.data.id)" [columnAutoWidth]="true"
				  [columnHidingEnabled]="true"
				  [dataSource]="productStore"
				  [focusedRowEnabled]="true"
				  [focusedRowIndex]="0" [remoteOperations]="true" [showBorders]="true" class="dx-card wide-card"
				  keyExpr="id">

		<dxo-paging [pageSize]="10"></dxo-paging>
		<dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
		<dxo-filter-row [visible]="true"></dxo-filter-row>
		<dxi-column dataField="code">
		</dxi-column>
		<dxi-column dataField="storingType">
			<dxo-lookup
				[dataSource]="metaData.storeTypes"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column dataField="name">
		</dxi-column>
		<dxi-column caption="SKU" dataField="sku">
		</dxi-column>
		<dxi-column caption="Supplier" dataField="supplierId">
			<dxo-lookup
				[dataSource]="supplierStore"
				displayExpr="supplierName"
				fieldTemplate="field"
				valueExpr="id">
				<dxo-drop-down-options title="Select Supplier"></dxo-drop-down-options>
				<div *dxTemplate="let item of 'field'">
					<div>{{item?.code}} - {{item?.supplierName}}</div>
				</div>
			</dxo-lookup>
		</dxi-column>
		<dxi-column dataField="unitPrice">
		</dxi-column>
		<dxi-column dataField="reorderLevel">
		</dxi-column>
		<dxi-column dataField="storageUnits">
		</dxi-column>
		<dxi-column dataField="massUnit">
			<dxo-lookup
				[dataSource]="metaData.massUnits"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column dataField="weight">
		</dxi-column>
		<dxi-column>
			<dxi-column cellTemplate="inventoryCellTemplate"></dxi-column>
			<div *dxTemplate="let data of 'inventoryCellTemplate'">
				<dx-button (onClick)="openProductInventory($event,data.data.id)" icon="chart">
				</dx-button>
			</div>
		</dxi-column>

	</dx-data-grid>
</div>
