<div class="responsive-paddings">
	<h2>Deliveries
		<dx-button (click)="openDelivery(0)" class="btn-new-stock-transfer" icon="add" text="New Delivery"
				   type="normal">
		</dx-button>
	</h2>

	<dx-data-grid (onRowClick)="openDelivery($event.data.id)" [columnAutoWidth]="true"
				  [columnHidingEnabled]="true"
				  [dataSource]="deliveryDataSource" [focusedRowEnabled]="true"
				  [focusedRowIndex]="0" [remoteOperations]="true" [showBorders]="true"
				  class="dx-card wide-card" keyExpr="id">
		<dxo-paging [pageSize]="10"></dxo-paging>
		<dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
		<dxo-filter-row [visible]="true"></dxo-filter-row>
		<dxi-column caption="Delivery No" dataField="deliveryNo"></dxi-column>
		<dxi-column caption="Delivery Status" dataField="deliveryStatus">
			<dxo-lookup
				[dataSource]="metaData.deliveryStatus"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column caption="Delivery Type" dataField="type">
			<dxo-lookup
				[dataSource]="metaData.deliveryTypes"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column caption="Date" dataField="created" dataType="date" sortOrder="desc"></dxi-column>
		<dxi-column caption="Delivery Date" dataField="deliveryDate" dataType="date"></dxi-column>
		<dxi-column caption="Supplier" dataField="supplierId">
			<dxo-lookup
				[dataSource]="supplierDataSource"
				displayExpr="supplierName"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column caption="Warehouse" dataField="wareHouseId">
			<dxo-lookup
				[dataSource]="warehouseDataSource"
				displayExpr="name"
				valueExpr="id">
			</dxo-lookup>
		</dxi-column>
		<dxi-column type="buttons">
			<dxi-button
				icon="fieldchooser"
				[visible]="isMarkAsProcessingVisible"
				[onClick]="startProcessing"
				text="Mark As Process">
			</dxi-button>
		</dxi-column>
	</dx-data-grid>

	<dx-popup
		[width]="500"
		[height]="'auto'"
		[showTitle]="true"
		title="Delivery Processing"
		[dragEnabled]="false"
		[closeOnOutsideClick]="false"
		[showCloseButton]="true"
		[(visible)]="processingPopupVisible">
		<div *dxTemplate="let data of 'content'">
			<p>
				<b>Delivery Number :</b>
				<span> {{currentDelivery.deliveryNo}}</span>
			</p>
			<form (submit)="handleProcessingForm($event)">
				<dx-form [formData]="processingFormData" labelLocation="top">
					<dxi-item [isRequired]="true" dataField="requiredNumberOfTrackingNumber">
						<dxi-validation-rule type="numeric">
						</dxi-validation-rule>
					</dxi-item>
					<dxi-item
						itemType="empty"
						[colSpan]="2">
					</dxi-item>
					<dxi-item
						itemType="button"
						[buttonOptions]="{ text: 'Mark As Processing', useSubmitBehavior: true }">
					</dxi-item>
				</dx-form>
			</form>
		</div>
	</dx-popup>

</div>

