<form (submit)="onSubmit($event)" class="reset-password-form">
	<dx-form [disabled]="loading" [formData]="formData">

		<dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email', mode: 'email' }" dataField="email"
				  editorType="dxTextBox">
			<dxi-validation-rule message="Email is required" type="required"></dxi-validation-rule>
			<dxi-validation-rule message="Email is invalid" type="email"></dxi-validation-rule>
			<dxo-label [visible]="false"></dxo-label>
		</dxi-item>

		<dxi-item itemType="button">
			<dxo-button-options [elementAttr]="{ class: 'submit-button' }" [template]="'resetPasswordTemplate'" [useSubmitBehavior]="true"
								type="default"
								width="100%">
			</dxo-button-options>
		</dxi-item>
		<dxi-item>
			<div class="login-link">
				Return to <a routerLink="/login">Sign In</a>
			</div>
		</dxi-item>

		<ng-container *dxTemplate="let item of 'resetPasswordTemplate'">
      <span class="dx-button-text">
        <ng-container *ngIf="loading; else notLoading">
          <dx-load-indicator [visible]="true" height="24px" width="24px"></dx-load-indicator>
        </ng-container>
        <ng-template #notLoading>Reset my password</ng-template>
      </span>
		</ng-container>

	</dx-form>
</form>
