<div class="dx-card responsive-paddings">

	<dx-button (onClick)="backToPurchaseOrders()" class="btn-back" type="back">
	</dx-button>

	<h2 class="page-header"><i class="dx-icon-cart"></i>
		Purchase Order
	</h2>

	<br/>

	<form (submit)="handleSubmit($event)">
		<dx-form [colCount]="4" [formData]="purchaseOrder" id="form" labelLocation="top">
			<dxi-item [colCount]="4" [colSpan]="4" caption="General Details" itemType="group">

				<dxi-item [colSpan]="2" disabled="disabled" dataField="poNumber" [visible]="purchaseOrder.id !=0"></dxi-item>
				<dxi-item [colSpan]="2" disabled="disabled" dataField="created" editorType="dxDateBox" [editorOptions]="{ dataType:'date', format: 'shortDateShortTime' }"
						  [visible]="purchaseOrder.id !=0"></dxi-item>

				<dxi-item [colSpan]="2" [editorOptions]="{ dataSource: warehouseStore, displayExpr: 'name', valueExpr: 'id', searchEnabled: true, searchExpr: ['code', 'name'],
					fieldTemplate: 'warehouseField', itemTemplate: 'warehouseField'}"
						  [isRequired]="false"
						  [label]="{ text: 'Warehouse' }" dataField="wareHouseId" editorType="dxLookup">
				</dxi-item>

				<dxi-item [colSpan]="2" [editorOptions]="{ dataSource: supplierStore, displayExpr: 'supplierName', valueExpr: 'id', searchEnabled: true, searchExpr: ['code', 'supplierName'],
					  fieldTemplate: 'supplierField', itemTemplate: 'supplierField'  }"
						  [isRequired]="true"
						  [label]="{ text: 'Supplier' }" dataField="supplierId" editorType="dxLookup">
				</dxi-item>
				<dxi-item [colSpan]="4" [editorOptions]="{ height: 120 }" dataField="note"
						  itemType="dxTextArea"></dxi-item>
			</dxi-item>

			<div *dxTemplate="let item of 'supplierField'">
				<div>{{item?.code}} - {{item?.supplierName}}</div>
			</div>

			<div *dxTemplate="let item of 'warehouseField'">
				<div>{{item?.code}} - {{item?.name}}</div>
			</div>

			<dxi-item [colSpan]="4" caption="Order Items" itemType="group">
				<dxi-item>
					<dx-data-grid #dxDataGridPurchaseOrderItems (onRowValidating)="onRowValidating($event)"
								  [dataSource]="purchaseOrder.purchaseOrderItems" [disabled]="purchaseOrder.supplierId == 0"
								  [rowAlternationEnabled]="true" [showBorders]="true"
								  class=""
								  id="dxDataGridPurchaseOrderItems">
						<dxo-editing
							[allowAdding]="true"
							[allowDeleting]="true"
							[allowUpdating]="true"
							mode="cell">
						</dxo-editing>
						<dxi-column caption="Product Name" dataField="productId">
							<dxi-validation-rule message="Product is required" type="required"></dxi-validation-rule>
							<dxo-lookup
								[dataSource]="{ store: productStore, filter: [['supplierId', '=', purchaseOrder.supplierId], ['active', '=', true]] }"
								displayExpr="name"
								valueExpr="id">
							</dxo-lookup>
						</dxi-column>
						<dxi-column [width]="200" dataField="quantity" dataType="number">
							<dxi-validation-rule message="Quantity is required" type="required"></dxi-validation-rule>
						</dxi-column>
						<dxi-column [width]="200" dataField="unitCost" dataType="number">
							<dxi-validation-rule message="Unit Cost is required" type="required"></dxi-validation-rule>
						</dxi-column>
						<dxi-column [allowEditing]="false" [calculateCellValue]='calcualteTotal' [width]="200" alignment="right"
									caption="Total" dataType="total" name="total"></dxi-column>
						<dxo-summary>
							<dxi-total-item
								alignment="right"
								column="quantity"
								displayFormat="Quantity Total : {0}"
								summaryType="sum">
							</dxi-total-item>
							<dxi-total-item
								alignment="right"
								column="total"
								displayFormat="Total : {0}"
								summaryType="sum">
							</dxi-total-item>
						</dxo-summary>
					</dx-data-grid>
				</dxi-item>
			</dxi-item>

			<dxi-item [buttonOptions]="{ text: 'Save Changes', useSubmitBehavior: true, icon: 'save', type: 'success',class: 'btn-save-product' }" [colSpan]="4" class="btn-save-product"
					  itemType="button">
			</dxi-item>
		</dx-form>
	</form>


</div>
