.dx-toolbar .dx-toolbar-items-container {
    height: 50px;
}

.dx-swatch-additional .dx-treeview-item.dx-state-hover{
    color:black;
}

.dx-rtl .dx-texteditor.dx-editor-filled.dx-show-clear-button .dx-texteditor-input, 
.dx-rtl .dx-texteditor.dx-editor-outlined.dx-show-clear-button .dx-texteditor-input, 
.dx-rtl.dx-texteditor.dx-editor-filled.dx-show-clear-button .dx-texteditor-input, 
.dx-rtl.dx-texteditor.dx-editor-outlined.dx-show-clear-button .dx-texteditor-input, 
.dx-texteditor.dx-editor-filled .dx-placeholder::before, .dx-texteditor.dx-editor-filled 
.dx-texteditor-input, .dx-texteditor.dx-editor-outlined .dx-placeholder::before, 
.dx-texteditor.dx-editor-outlined .dx-texteditor-input {
    padding: 11px 12px 11px;
}

.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon, .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon{
    width:32px;
}

.dx-texteditor.dx-editor-outlined {
    border: 1px solid #fff0;
}

.dx-checkbox-checked .dx-checkbox-icon {
    color: #f8eddf;
}


.pt-0{
    padding-top: 0;
}

.pickup-list-address-container{
    background-color: #f3f3f3!important;
}

.pickup-list-address-container .dx-empty-message{
    border-top: 0px!important;
}