<div class="responsive-paddings">

	<h2 class="page-header"><i class="dx-icon-home"></i>
		Warehouses
		<dx-button (onClick)="openWarehouse('0')" class="btn-new-warehouse" icon="add" text="New Warehouse"
				   type="normal">
		</dx-button>
	</h2>

	<dx-data-grid (onRowClick)="openWarehouse($event.data.id)" [columnAutoWidth]="true" [columnHidingEnabled]="true"
				  [dataSource]="warehouses"
				  [focusedRowEnabled]="true"
				  [focusedRowIndex]="0" [remoteOperations]="true" [showBorders]="true" class="dx-card wide-card"
				  keyExpr="id">

		<dxo-paging [pageSize]="10"></dxo-paging>
		<dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
		<dxo-filter-row [visible]="true"></dxo-filter-row>

		<dxi-column dataField="code">
		</dxi-column>

		<dxi-column dataField="name">
		</dxi-column>

		<dxi-column dataField="active">
		</dxi-column>

		<dxi-column caption="Address Line 1" dataField="address.addressLine1">
		</dxi-column>

		<dxi-column caption="Address Line 2" dataField="address.addressLine2">
		</dxi-column>

		<dxi-column caption="City" dataField="address.city.cityName">
		</dxi-column>

		<dxi-column caption="Postal Code" dataField="address.postalCode">
		</dxi-column>

	</dx-data-grid>
</div>

