<div class="responsive-paddings">
	<h2 class="page-header"><i class="dx-icon-user"></i>
		Create Account - Supplier
		<dx-button (onClick)="backToSuppliers()" class="btn-back" type="back">
		</dx-button>
	</h2>

	<div>
		<form (submit)="handleSubmit($event)">
			<dx-form [(formData)]="account" [colCount]="2" id="form" labelLocation="top">
				<dxi-item caption="General" itemType="group">
					<dxi-item [isRequired]="true" dataField="userName"></dxi-item>
					<dxi-item [isRequired]="true" dataField="email">
						<dxi-validation-rule
							type="required"
							message="Email is required">
						</dxi-validation-rule>
						<dxi-validation-rule
							type="email"
							message="Email is invalid">
						</dxi-validation-rule>
					</dxi-item>
				</dxi-item>

				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>

				<dxi-item caption="Credentials" itemType="group">
					<dxi-item dataField="password"
							  [editorOptions]="{ mode: 'password' }">
						<dxi-validation-rule
							type="required"
							message="Password is required">
						</dxi-validation-rule>
					</dxi-item>
					<dxi-item
						dataField="confirmationPassword"
						editorType="dxTextBox"
						[editorOptions]="{ mode: 'password' }">
						<dxo-label
							text="Confirm Password">
						</dxo-label>
						<dxi-validation-rule
							type="required"
							message="Confirm Password is required">
						</dxi-validation-rule>
						<dxi-validation-rule
							type="compare"
							[comparisonTarget]="passwordComparison"
							message="Password and Confirm Password do not match">
						</dxi-validation-rule>
					</dxi-item>
				</dxi-item>

				<dxi-item [colSpan]="2" itemType="empty"></dxi-item>

				<dxi-item [buttonOptions]="{ text:'Save Changes', useSubmitBehavior: true, icon: 'save', type:'success'}" cssClass="btn-save-supplier"
						  itemType="button">
				</dxi-item>
			</dx-form>
		</form>

	</div>
</div>

