.report-item {
	padding: 20px;
	padding-top: 0;
	.report-title {
		color: #6b6b6b;
		font-weight: 600;
		margin-bottom: 30px;
		font-size: 18px;
	}
	margin-bottom: 20px;
}

.generate-button {
	float: left;
}

.generate-button-right {
	float: left;
}
